.Para-Notas{
    margin-top:100px;
}
.button2{
    border:none;
    width:47%;
    color:white;
    font-size:20px;
    background: #461775;
    padding:15px;
    border-radius: 5px;
    cursor: pointer;
}

.button2:hover{
    background: rgb(138, 54, 190);
}
.button3{
    border:none;
    width:96%;
    color:white;
    font-size:20px;
    background: #461775;
    padding:15px;
    border-radius: 5px;
    cursor: pointer;
}

.button3:hover{
    background: rgb(138, 54, 190);
}
p{
    text-align: center;
}